{% extends "layout_port.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
          <header><h3><u><p class="article-content ml-auto">Work Experience</u></p></h3>
          </header>
          <header><h5><p class="article-content ml-auto">IT Assistant at ETH Zurich</p></h5>
          </header>
          <a href="https://ethz.ch/en.html" target="_blank">ETH Zurich</a>
          <a class="text-muted" target="_blank">• 02/2021 - Current</a>
          <p>
          • Creating cli tools for digital long term archiving<br>
          • Expanding on python knowledge and its use<br>
          • Work with large data and a lot of data formats<br>
          • Working with Git and using ash as a main shell
          </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h2><p class="article-content ml-auto">Work Experience</p></h2>
          </header>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h2><p class="article-content ml-auto">Work Experience</p></h2>
          </header>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h2><p class="article-content ml-auto">Work Experience</p></h2>
          </header>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h2><p class="article-content ml-auto">Work Experience</p></h2>
          </header>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h2><p class="article-content ml-auto">Work Experience</p></h2>
          </header>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h2><p class="article-content ml-auto">Work Experience</p></h2>
          </header>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h2><p class="article-content ml-auto">Work Experience</p></h2>
          </header>
      </div>
    </article>
{% endblock content %}
