{% extends "layout_port.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
          <header><h3><u><p class="article-content ml-auto">Work Experience</u></p></h3>
          </header>
          <header><h5><p class="article-content ml-auto">IT Assistant at ETH Zurich</p></h5>
          </header>
          <a href="https://ethz.ch/en.html" target="_blank">ETH Zurich</a>
          <a class="text-muted" target="_blank">• 02/2021 - Current</a>
          <small><p>
          • Creating cli tools for digital long term archiving<br>
          • Usage of python frameworks such as pandas<br>
          • Independent project design and co-determination of the tools to be integrated<br>
          • Work with large data and a lot of data formats<br>
          • Working with Git and using bash as a main shell
              </p></small>

          <hr>

          <header><h5><p class="article-content ml-auto">Project Assistant in Property & Casualty</p></h5>
          </header>
          <a href="https://www.allianz.ch/de/privatkunden/angebote/fahrzeuge-reisen/autoversicherung.html" target="_blank">Allianz Suisse</a>
          <a class="text-muted" target="_blank">• 09/2020 - 02/2021</a>
          <small><p>
            During my time in the Product Development Team I've supported the PO
            as a ‘right hand’ for the new DRIVE product:<br>
          • Participating in meetings and supplying the PO with information<br>
          • Working in a packed schedule<br>
          • Agile working with other branches<br>
          • Fast gathering of information and compiling it in presentations<br>
          </p></small>

          <hr>

          <header><h5><p class="article-content ml-auto">Summer Intern at Client Services</p></h5>
          </header>
          <a href="https://www.allianz.ch/de/privatkunden/angebote/fahrzeuge-reisen/autoversicherung.html" target="_blank">Allianz Suisse</a>
          <a class="text-muted" target="_blank">• 07/2020 - 09/2020</a>
          <small><p>
            In the Swiss headquater, I manage payments with other students on
            cases of damaged wehicles:<br>
          • Evaluating cases and authorize payments<br>
          • Offering support for customers on the phone<br>
          </p></small>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h3><u><p class="article-content ml-auto">University Work Experience</u></p></h3>
          </header>
          <header><h5><p class="article-content ml-auto">Tutor: Digital Language Processing MA</p></h5>
          </header>
          <a href="https://www.cl.uzh.ch/en.html" target="_blank">University of Zurich</a>
          <a class="text-muted" target="_blank">• 09/2020 - 01/2021</a>
          <small><p>
            In the course for advanced Linguistics I've supported the professor in
            creating tasks for the students and help them in additional tutoring:<br>
           • Working with master students and grading their assignments<br>
           • Strengthen the foundation in Natural Language Processing in combination in python<br>
          </p></small>

          <hr>

          <header><h5><p class="article-content ml-auto">Tutor: Python Programming Course</p></h5>
          </header>
          <a href="https://www.cl.uzh.ch/en.html" target="_blank">University of Zurich</a>
          <a class="text-muted" target="_blank">• 09/2020 - 01/2021</a>
          <small><p>
            As a tutor for the introductory course for Python in computational
            linguistics, I've supported the professor at teaching:<br>
          • Creating and grading assignments on a weekly basis<br>
          • Teaching in front of a class<br>
          • Strenghten the foundation of Python basics<br>
          </p></small>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h3><u><p class="article-content ml-auto">Projects</u></p></h3>
          </header>
          <header><h5><p class="article-content ml-auto">Python CLI Tools for Long Term Archiving</p></h5>
          </header>
          <a href="https://github.com/ovanov/FITSxtractor" target="_blank">Metadata Extractor</a>
          <a class="text-muted" target="_blank">•</a>
          <small><a class="text-muted" target="_blank">Working with FITS XML output to extract the most important metadata</a></small><br>
          <a href="https://github.com/ovanov/cosSim" target="_blank">Cosine Similarity Tool</a>
          <a class="text-muted" target="_blank">•</a>
          <small><a class="text-muted" target="_blank">By determining the cosine similariy between two files or direcotries,
                  different (i.e) OCR-tools can be compared.</a></small><br>
          <a href="https://github.com/ovanov/fileconv" target="_blank">File converter</a>
          <a class="text-muted" target="_blank">•</a>
          <small><a class="text-muted" target="_blank">This CLI tool is able to convert Microsoft Office documents (Word, Excel),
              and convert them to PDF (A2 standard) files. It is best suited for Windows.</a></small>

          <hr>

          <header><h5><p class="article-content ml-auto">Forced Alignment of Speech and Text</p></h5>
          </header>
          <a href="https://www.readbeyond.it/aeneas/" target="_blank">Aeneas</a>
          <a class="text-muted" target="_blank">• 07/2020 - 11/2020</a>
          <small><p>
            With another Student student I've worked closely on a forced alignment project for
            the Slavic seminar at the University of Zurich to create a Python module for Serbian:<br>
          • Allignment of 20 hours of interview material<br>
          • Unit testing existing Python modules on useful features<br>
          • Building a web page with an interface for publishing<br>
          • Working effectively with version control<br>
          • Creating new ways to incorporate the Serbian language
          </p></small>

          <hr>

          <header><h5><p class="article-content ml-auto">Personal Blog / Website</p></h5>
          </header>
          <a href="https://www.readbeyond.it/aeneas/" target="_blank">GitHub Repo</a>
          <a class="text-muted" target="_blank">• 07/2021 - Current</a>
          <small><p>
            With this rather simple project, I'm trying to further expand my knowledge in programming
            as well as web development. Furthermore I'm using a database to host a blog that is
            open to the public. In said blog the main goal is to share skills. The greater idea behind
            this blog is to <i>serve as a small contribution</i> to the free and open sourse movement.
          </p></small>

      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
          <header><h3><u><p class="article-content ml-auto"></u></p></h3>
          </header>
          <header><h5><p class="article-content ml-auto">IT Assistant at ETH Zurich</p></h5>
          </header>
          <a href="https://ethz.ch/en.html" target="_blank">ETH Zurich</a>
          <a class="text-muted" target="_blank">• 02/2021 - Current</a>
          <p>
          • Creating cli tools for digital long term archiving<br>
          • Usage of python frameworks such as pandas<br>
          • Work with large data and a lot of data formats<br>
          • Working with Git and using bash as a main shell
          </p>
      </div>
      <div class="media-body">
          <header><h3><u><p class="article-content ml-auto"></u></p></h3>
          </header>
          <header><h5><p class="article-content ml-auto">IT Assistant at ETH Zurich</p></h5>
          </header>
          <a href="https://ethz.ch/en.html" target="_blank">ETH Zurich</a>
          <a class="text-muted" target="_blank">• 02/2021 - Current</a>
          <p>
          • Creating cli tools for digital long term archiving<br>
          • Usage of python frameworks such as pandas<br>
          • Work with large data and a lot of data formats<br>
          • Working with Git and using bash as a main shell
          </p>
      </div>
    </article>
{% endblock content %}
